<div id="<%= dom_id maintenance %>">
  <p>
    <strong>Schedule type:</strong>
    <%= maintenance.schedule_type %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= maintenance.schedule %>
  </p>

</div>
